.header {
    position: relative;
    min-width: 100%;
    z-index: 50;
    padding-top: 45px;

    &_row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $mobile_s) and (max-width: $mobile) {
            flex-direction: column;
        }
    }

    .logo {
        font: 40px/42px $font_OB;
        text-align: left;
        text-transform: uppercase;
        color: $blue;

        a {
            color: $blue;
        }

        @media (min-width: $mobile_s) and (max-width: $mobile) {
            font: 32px/32px $font_OB;
            margin-bottom: 20px;
        }
    }

    .menu_list {
        font: 18px/19px $font_OR;
        margin-left: 10px;

        li {
            display: inline-block;
            padding: 0 25px;

            &:nth-child(3) {
                padding-right: 0;
            }
        }
        
        a {
            color: $black;
            text-decoration: none;
            transition: color .3s;
            will-change: color;
            &:hover {
                color: $blue;
            }
        }

        @media (min-width: $mobile_s) and (max-width: $mobile) {
            font: 16px/14px $font_OR;
            margin-left: 0;

            li {
                padding: 0 10px;
            }
        }
    }

    @media (min-width: $mobile_s) and (max-width: $mobile) {
        padding-top: 20px;
    }
}
